html {
  border: 5px solid #666;
}

header,
section {
  @include outer-container(100%);

  overflow: hidden;

  .container {
    @include outer-container(1140px);
  }

  .row {
    @include row();
  }
}

// -----------------------------------------------------------------------------
// Title / Header Section
// -----------------------------------------------------------------------------
.title {
  background-color: $color-pink;

  h1 {
    display: block;
    @include outer-container(660px);
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

// -----------------------------------------------------------------------------
// Offer Section
// -----------------------------------------------------------------------------
.offer {
  background-color: $color-gray;

  p {
    display: block;
    max-width: 768px;
    margin: 100px auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: $p-big-font-size;
    line-height: $p-big-line-height;
    color: $color-gray-dark;

    @include media($medium) {
      font-size: $p-font-size;
      line-height: $p-line-height;
    }
  }
}

// -----------------------------------------------------------------------------
// Team Section
// -----------------------------------------------------------------------------
.team {
  .team__profiles {
    @include outer-container();
    margin-bottom: 20px;
    padding: 0;

    .team-profiles-slider {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow-x: scroll;

      .profile {
        width: 570px;
        float: left;
        height: 100%;
        margin: 0 1px 0 0;
        padding: 0;

        .profile__image {
          width: 100px;
          height: 100px;
          margin-left: 5%;
          margin-right: 20px;
          float: left;
          border-radius: 100%;
          background-color: $color-black;

          @include media($medium) {
            margin: 0 auto 10px;
            float: none;
          }
        }
        .profile__info {
          width: 60%;
          height: 100%;
          float: left;

          @include media($medium) {
            width: 100%;
            float: none;
          }

          .profile__name {
            display: block;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: $h3-font-size;
            line-height: $h3-line-height;
            color: $color-black;
            text-align: left;

            @include media($medium) {
              text-align: center;
            }
          }
          .profile__title {
            display: block;
            font-weight: normal;
            font-size: $h3-font-size;
            line-height: $h3-line-height;
            color: $color-black;
            text-align: left;

            @include media($medium) {
              text-align: center;
            }
          }
          .profile__tel {
            display: block;
            font-weight: normal;
            font-size: $h3-font-size;
            line-height: $h3-line-height;
            color: $color-black;
            text-align: left;
            text-decoration: none;

            @include media($medium) {
              text-align: center;
            }
          }
          .profile__email {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: $h3-line-height;
            color: $color-black;
            text-align: left;
            text-decoration: none;

            @include transition(color .5s linear);

            &:hover {
              color: $color-pink;
            }

            @include media($medium) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// More Offers Section
// -----------------------------------------------------------------------------
.more_offers {
  background-color: $color-gray-lighter;

  .offer_info {
    @include span-columns(4);
    margin-bottom: 20px;

    border: 1px solid $color-gray-light;
    background-color: $color-gray;

    @include media($medium) {
      @include span-columns(11);
      @include shift(0.5);
    }
  }

  h3 {
    font-size: $h3-big-font-size;
    line-height: $h3-big-line-height;
    color: $color-gray-dark;
    text-align: center;
  }

  p {
    display: block;
    @include outer-container(90%);
    font-size: $p-font-size;
    line-height: $p-line-height;
    color: $color-black;
  }
}

// -----------------------------------------------------------------------------
// Clients Section
// -----------------------------------------------------------------------------
.clients {
  .client__profiles {
    @include outer-container();
    margin-bottom: 20px;
    padding: 0;

    .client-profiles-slider {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow-x: scroll;

      .client {
        width: 285px;
        float: left;
        height: 100%;
        margin: 0 1px 0 0;
        padding: 0;

        img {
          display: block;
          width: 90%;
          height: auto;
          margin: 0 auto;

          @include media($medium) {
            width: 80%;
          }
          @include media($small) {
            width: 70%;
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
footer {
  @include outer-container(100%);
  background-color: $color-pink;
  overflow: hidden;

  a {
    display: block;
    font-weight: normal;
    font-size: rem(16);
    line-height: 100%;
    font-family: $font-family;
    color: $color-white;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------
.team_pages,
.client_pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}
.team_pages li,
.client_pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}
.team_pages li:hover,
.client_pages li:hover {
  background: #aaa;
}
.team_pages li.active,
.client_pages li.active {
  background: #666;
}
