section {
  @include outer-container(100%);
  
  overflow: hidden;
  
  .container {
    @include outer-container(1140px);
  }
}

.title {
  background-color: $color-pink;
  
  h1 {
    display: block;
    @include outer-container(660px);
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.offer {
  background-color: $color-gray;
  
  p {
    display: block;
    @include outer-container(85%);
    font-weight: bold;
    font-size: $p-big-font-size;
    line-height: $p-big-line-height;
    color: $color-gray-dark;
  }
}