@charset "utf-8";
@import "normalize-scss/normalize";
@import "bourbon/app/assets/stylesheets/bourbon";
@import "neat/app/assets/stylesheets/neat";

$large: max-width 1140px;
$medium: max-width 840px;
$small: max-width 420px;

@import "shared/colors";
@import "shared/type";

@import "index";

